body{
    background-image: linear-gradient(to right,   blue, indigo);
    font-family: 'Bakbak One', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Dongle', sans-serif;
font-family: 'Fruktur', cursive;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lobster', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Praise', cursive;
font-family: 'Readex Pro', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Zen Antique Soft', serif;
}
.header{
   &__row{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   &__img{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       margin-top: 20px;
   }
   &__text{
   color: white;
   font-size: 24px;
   }
   &__link{
       text-decoration: none;
       color: white;
       border: 2px solid white;
       padding: 4px 15px;
       border-radius: 30px;
   }
   &__textNow{
       color: white;
       font-size: 18px;
   }
   &__col{
    //    width: 500px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   &__row-text{
       width: 500px;
       text-align: center;
   }
   &__list-link{
       text-decoration: none;
       color: white;
       border: 2px solid white;
       padding: 10px 70px;
       border-radius: 20px;
       margin-top: 10px;
   }
}


@media (max-width:400px) {
    .container{
        width: 380px ;
        margin: 0 auto;
    } 
    .header{
        &__row-text{
            width: 300px;
            text-align: center;
        }
    }
}